<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- parameterType="com.hdsm.domain.MemberVO" -->
<mapper namespace="com.hdsm.persistence.MemberMapper">

	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO member (mid, mpassword, mname, memail, mtel, mzipcode, 
		maddress1, maddress2, mgrade, mdate, mpoint, menabled)
		VALUES (#{mid}, #{mpassword}, #{mname}, #{memail}, #{mtel}, 0, 
		#{maddress1}, #{maddress2}, 'silver', sysdate, 0, 0)
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(mid) FROM member WHERE mid = #{mid}
	</select>
	
	<!-- 전화번호 중복체크 -->
	<select id="telCheck" resultType="int">
		SELECT COUNT(mtel) FROM member WHERE mtel = #{mtel}
	</select>

	<!-- 로그인 -->
	<select id="login" resultType="com.hdsm.domain.MemberVO">
		select mid,mpassword from member where mid=#{mid} and mpassword = #{mpassword}
	</select>
	
</mapper> 
